<%- include("../partials/header") %>

<h1> <%= game.gameTitle %> </h1>
<h3> <%= game.roomCode %> </h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        <% game.players.forEach(function(player){ %>
            <tr>
                <th scope="row">1</th>
                <td> <%= player.username %> </td>
                <td> - </td>
                <td> - </td>
            </tr>
        <% }) %>
    </tbody>
  </table>

<button type="button" class="btn btn-primary">Start Game</button>
<button type="button" class="btn btn-secondary">Refresh</button>


<%- include("../partials/footer") %>